<table class="main">

                        <!-- START MAIN CONTENT AREA -->
                        <tr>
                            <td class="wrapper">
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td align="center" valign="top"
                                            background="https://bidcruit.com/static/assets/img/bg-temp.png" bgcolor="#66809b"
                                            style="background-size:cover; background-position:top;height:200px;">

                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <table border="0" cellpadding="0" cellspacing="0" style="padding: 0 20px;">
                                                <tr>
                                                    <td>
                                                        <tr>
                                                            <td style="height: 50px;">
                    
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size: 16px;color: #031b4e; text-align: center;">
                                                                Almost done! To secure your Bidcruit account, we just need to varify your email accress: {{email}}.</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="height: 30px;">
                    
                                                            </td>
                                                        </tr>
                                                        
                                                        <tr>
                                                            <td style="text-align: center;">
                                                                <a href="{{ domain }}{% url 'activate' uidb64=uid token=token %}" title="" style="    padding: 7px 49px;
                                                                background: #0246ff;
                                                                border: 1px solid #0246ff;
                                                                color: #fff !important;
                                                                border-radius: 29px;
                                                              
                                                                text-align: center;
                                                                font-size: 20px; text-decoration:none">Verify email address</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="height: 30px;">
                    
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size: 16px;color: #031b4e; text-align: center;">
                                                                    This will let you recive notifications and password resets from Bidcruit.
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            Button not working? Paste the following link into your browser: <a href="{{ domain }}{% url 'activate' uidb64=uid token=token %}"> {{ domain }}{% url 'activate' uidb64=uid token=token %}</a>
                                                        </tr>
                                                     <tr>
                                                            <td style="height: 30px;">
                                                                
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size: 16px;color: #031b4e; text-align: center;">
                                                                You're receiving this email because you recently created a new Bidcruit account or added a new email address. If this wasn't you, please ignore this email.
                                                            </td>
                                                        </tr>
                                                         <tr>
                                                            <td style="height: 50px;">
                                                                
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size: 16px;color: #99a8bd; text-align: center;">
                                                                <a href="" style="color: #99a8bd;">Email preferences</a>
                                                                <a href="" style="color: #99a8bd;">Terms</a>
                                                                <a href="" style="color: #99a8bd;">Privarcy</a>
                                                                <a href="https://bidcruit.com/accounts/" style="color: #99a8bd;">Sign into Bidcruit</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="height: 30px;">
                    
                                                            </td>
                                                        </tr>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                
                                </table>
                            </td>
                        </tr>

                        <!-- END MAIN CONTENT AREA -->
                    </table>
