{% extends 'base.html'%}

{% load crispy_forms_tags %}
{% block style %}
.about{
color:blue;
}
.center {
width: 100%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
/* (x, y) => position */
-ms-transform: translate(-50%, -50%);
/* IE 9 */
-webkit-transform: translate(-50%, -50%);
/* Chrome, Safari, Opera */
}
.main{
margin-top:22vh !important;
margin-bottom:10vh !important;
}
.card{
padding-top:5vh !important;
padding-bottom:5vh !important;
margin-bottom:10vh !important;
}
.about{
color:blue;
}
.center {
}
.card{
padding-top:5vh !important;
padding-bottom:5vh !important;
border-radius:20px !important;
}
main .card {
background-color: #3475;
}

body {
<!-- background: #fe8c00; /* fallback for old browsers */ -->
font-family: 'Poppins', sans-serif !important;
//font-size: 16px;
//line-height: 24px;
//font-weight: 400;
color: #212112 !important;
//color: white !important;
//background: #fe8c00;
background: -webkit-linear-gradient(
to right,
#f83600,
#fe8c00
); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(
to right,
#f83600,
#fe8c00
); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg') !important;
background-position: center !important;
background-repeat: repeat !important;
background-size: 7% !important;
background-color: #fff !important;
overflow-x: hidden !important;
transition: all 200ms linear !important;

color: white !important;
}

h3 {
font-family: Times New Roman !important;
font-weight: bold;
}
hr {
border-bottom: solid white 1px;
}

.btn {
background: #0f2027 !important; /* fallback for old browsers */
background: -webkit-linear-gradient(
to right,
#2c5364,
#203a43,
#0f2027
) !important; /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(
to right,
#2c5364,
#203a43,
#0f2027
) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

input {
background-color: #3475 !important;
color: white !important;
}
.rounded-pill{
border-radius: 25px !important;
}
::placeholder {
color: white !important;
}
.gradient-text {
/* Fallback: Set a background color. */
background-color: #CA4246;

/* Create the gradient. */
background-image: linear-gradient(
45deg,
#CA4246 16.666%,
#E16541 16.666%,
#E16541 33.333%,
#F18F43 33.333%,
#F18F43 45%,
#8B9862 50%,
#8B9862 66.666%,
#476098 66.666%,
#476098 83.333%,
#A7489B 83.333%);

/* Set the background size and repeat properties. */
background-size: 100%;
background-repeat: repeat;

/* Use the text as a mask for the background. */
/* This will show the gradient as a text color rather than element bg. */
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

/* Animate the text when loading the element. */
/* This animates it on page load and when hovering out. */
animation: rainbow-text-simple-animation-rev 0.75s ease forwards;

}

.gradient-text:hover{
animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}


/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-simple-animation-rev {
0% {
background-size: 650%;
}
40% {
background-size: 650%;
}
100% {
background-size: 100%;
}
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-simple-animation {
0% {
background-size: 100%;
}
80% {
background-size: 650%;
}
100% {
background-size: 650%;
}
}
::placeholder {
color: white !important;
}
h3 {
font-family: "Archivo Black", sans-serif;
font-weight: normal;
font-size: 3em;
text-align: center;
margin-bottom: 0;
margin-bottom: -0.25em;
display: block;
cursor: pointer;
}
{% endblock %}
{% block content %}
<main class="container my-5 main">
    <div class="absolute-center text-center">
        <div class="card col-md-6 col-sm-10 center bg-cyan">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <div class="alert alert-success" role="alert">
                          <h4 class="alert-heading">Well done!</h4>
                                <p>An Email has been sent with instructions to reset your password.</p>
                          <hr>
                          <p class="mb-0">Check Your Email!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}
