<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- <link href="{% static '/css/all.css' %}" rel="stylesheet"> -->
    <!-- <script defer src="{% static '/js/all.js' %}"></script> -->
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <!-- <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}"> -->
    
    <title>{%block title%}{% endblock %}</title>
    <style>{%block style%}{% endblock %}</style>
</head>
<body>
    <header class="site-header mb-5">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" id="nav">
        <div class="container">
            <a class="navbar-brand mr-4 brand" href="{% url 'home' %}">24Care</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" height="100" width="50" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              
              <a class="nav-item nav-link mt-2" href="{% url 'home' %}"><svg aria-label="Home" class="_8-yf5 " fill="#ffffff" height="22" viewBox="0 0 48 48" width="22"><path d="M45.5 48H30.1c-.8 0-1.5-.7-1.5-1.5V34.2c0-2.6-2.1-4.6-4.6-4.6s-4.6 2.1-4.6 4.6v12.3c0 .8-.7 1.5-1.5 1.5H2.5c-.8 0-1.5-.7-1.5-1.5V23c0-.4.2-.8.4-1.1L22.9.4c.6-.6 1.6-.6 2.1 0l21.5 21.5c.3.3.4.7.4 1.1v23.5c.1.8-.6 1.5-1.4 1.5z"></path></svg></a>
                <a class="nav-item nav-link mt-2" href="{% url 'home' %}"><font size="4">About</font></a>

            </div>
            <!-- Navbar Right Side -->
                 <div class="navbar-nav">
             <form method='get' action="{% url 'search' %}" class="form-inline my-2 my-lg-0">
                    <input class="form-control" type="search" placeholder="Search for medicines" aria-label="Search" name="search" id="search">
                    <button class="btn btn-outline-success bg-light my-2 my-sm-0 mr-5" type="submit"><svg class="bi bi-search" width="1em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
  <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
</svg></button>
             </form></div>

               <div class="navbar-nav">
                 {% if user.is_authenticated %}
                 <input type="hidden" id="cnt" name="cnt" value={{count}}>
                 	<!-- <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-shopping-cart fa-3x mt-2" aria-hidden="true"><span id="shopcart">{{count}}</span></i></a>
									<div class="dropdown-menu">
                    {%for c in cart %}<div></div>
										<a class="dropdown-item" style="color:black !important" href="">{{c.product_id.product_image}}{{c.product_id.product_name}} {{c.product_id.product_price}} {{c.quantity}}</a>
									{% endfor %}
                  </div> -->
                 <button id="popcart" type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                    <i class="fas fa-shopping-cart fa-3x mt-2" aria-hidden="true"><span id="shopcart">{{count}}</span></i>
                  </button>
                  {% for names in prodnames%}
                       <input type="hidden" class="prodnames" value={{names}}>
                      {% endfor %}
                      {% for id in prodid %}
                       <input type="hidden" class="prodids" value={{id}}>
                      {% endfor %}
                      {% for prices in prodprices%}
                     <input type="hidden" class="prodprices" value={{prices}}>
            {% endfor %}
            {%for image in prodimages %}
            <input type="hidden" class="prodimages" value={{image}}>
            {% endfor %}
            {%for quant in quantity %}
            <input type="hidden" class="quantity" value={{quant}}>
            {% endfor %}
                <a class="nav-item nav-link mt-2" href="{% url 'logout' %}"><font size="4">Log out</font></a>
                 {% else %}
                   <a class="nav-item nav-link mt-2" href="{% url 'login' %}"><font size="4">Login</font></a>
                   <a class="nav-item nav-link mt-2" href="register"><font size="4">Register</font></a>
                  {% endif %}
            </div>
            </div>
        </div>
      </nav>
    </header>

          {% block content %}{% endblock %}

    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    {%block js%}
    {% endblock %}
</body>
</html>
<!--container.innerHTML+=`<div class="cat-item ">-->
<!--        <a class="category_name" href="https://www.netmeds.com/non-prescriptions/`+product_name[i]+`" title="`+product_name[i]+`">-->
<!--         <span class="cat-img">-->
<!--         <img class="product-image-photo" src="`+product_image[i]+`" alt="`+product_name[i]+`">-->
<!--         </span>-->
<!--         <span class="clsgetname">`+product_name[i]+`</span>-->
<!--         </a>-->
<!--         <a href="https://www.netmeds.com/non-prescriptions/manufacturers/`+manufacture[i]+`" title="`+manufacture[i]+`"> <span class="drug-varients ellipsis">`+manufacture[i]+`</span> </a>-->
<!--         <span class="price-box"><span id="final_price">`+product_price[i]+`</span> </span>-->
<!--         <a href="https://www.netmeds.com/catalogsearch/result?q=`+product_name[i]+`" class="b1 mt-4"><button id="qv`+i+`" class="btn btn-primary cart mt-4">goto buy</button></a>-->
<!--         </div>`;-->
{% comment %} main.innerHTML+=`<div aria-label="Page navigation example"><ul class="pagination justify-content-center" id="pageIndex"></ul></div>`;
    if(nextPage<=4847){
        if(nextPage-2>=0){
        pageIndex.innerHTML+=`<li class="page-item">
      <a class="page-link" href="Page=`+(nextPage-2)+`" tabindex="-1">Previous</a>
    </li>`;
        
        }
        
        if(nextPage-3>=0){
        pageIndex.innerHTML+=`<li class="page-item"><a class="page-link" href="Page=`+(nextPage-3)+`">`+(nextPage-3)+`</a></li>`;
        }
        if(nextPage-2>=0){
        pageIndex.innerHTML+=`<li class="page-item"><a class="page-link" href="Page=`+(nextPage-2)+`">`+(nextPage-2)+`</a></li>`;
        }
        if(nextPage-1>=0){
        pageIndex.innerHTML+=`<li class="page-item"><a class="page-link" href="Page=`+(nextPage-1)+`">`+(nextPage-1)+`</a></li>`;
        }
        if(nextPage>=0){
        pageIndex.innerHTML+=`<li class="page-item"><a class="page-link" href="Page=`+(nextPage)+`">`+(nextPage)+`</a></li>`;
        }
        if(nextPage+1<=4847){
        pageIndex.innerHTML+=`<li class="page-item"><a class="page-link" href="Page=`+(nextPage+1)+`">`+(nextPage+1)+`</a></li>`;
        }
        
        if(nextPage>=0){
        pageIndex.innerHTML+=`<li class="page-item"><a class="page-link" href="Page=`+(nextPage)+`">Next</a></li>`;
        }
    }
    else{
    pageIndex.innerHTML+=`<li class="page-item"><a class="page-link" href="Page=`+(nextPage-2)+`">Previous</a></li>`;
   pageIndex.innerHTML+=`<li class="page-item"><a class="page-link" href="Page=`+(nextPage-4)+`">`+(nextPage-4)+`</a></li>`;
   pageIndex.innerHTML+=`<li class="page-item"><a class="page-link" href="Page=`+(nextPage-3)+`">`+(nextPage-3)+`</a></li>`;
   pageIndex.innerHTML+=`<li class="page-item"><a class="page-link" href="Page=`+(nextPage-2)+`">`+(nextPage-2)+`</a></li>`;
   pageIndex.innerHTML+=`<li class="page-item"><a class="page-link" href="Page=`+(nextPage-1)+`">`+(nextPage-1)+`</a></li>`;
    }

</script> {% endcomment %}